.home{
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}
h1{
    margin: auto;

}
.form-group{
    padding: 5px 0px;
}
#menu_home{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.8em;
    padding-top: 20px;
    
}
#menu_home>a{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px 5px;
    
    
}
#newmsg{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.center{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
