.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1,h2,h3,h4{
    margin: auto;    
    margin-bottom: 20px;
    margin-top: 20px;
}
h5{
    margin: auto;    
    margin-bottom: 10px;
    margin-top: 40px;
}
.boutton_container{    
    flex-direction: row; 
    justify-content: space-around;    
    margin: auto;
    align-items: center;

}
.boutton_container a {
    text-decoration: none;
    color:aliceblue;
}
.boutton_container a:hover, a:focus, a:active {
    text-decoration: none;
    color: white;
    
  }
th{
    text-align: center;
}
td{
    text-align: center;
}
#in_tablefinder{
    margin: auto;
}
#in_table{
    margin: auto;
}
#rechercher{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    margin-bottom: 20px;
}
.card{
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 30px;
}
.card-body{
    align-self: auto;
}